/*================分页样式================*/
.page{
    text-align:center;
    margin-top: 50px;
}
.page .box{
    display: inline-block;
}
.page .box span{
    display: inline-block;
    width: 117px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    font-size: 14px;
    color:#949494;
    line-height:40px;
    background-color: #e9e9e9;
    cursor:pointer;
    margin:0 6px;
}
.page .box em{
    display: inline-block;
    width:40px;
    height: 40px;
    line-height:38px;
    text-align:center;
    border:1px solid #d8d8d8;
    font-size:14px;
    color:#888;
    cursor:pointer;
    margin:0 6px;
}
.page .box em.now{
    background-color:#e93e0c;
    color:#fff;
    border-color: #e93e0c;
}
/* 分页 */
.more_box{height:50px;width:auto;margin:0 auto;clear: both;float: left; position: relative; left: 50%;padding-top: 50px;}
.more_box .more_ssp { position: relative;left: -50%;width: auto;height: 50px;float: left;}
.more_ssp span,.more_ssp a {float:left;width:auto;height:38px;line-height:38px;font-size:14px;color:#888;border:1px solid #d8d8d8;margin-right:10px;padding:0 15px;
    text-align:center;background-color:#fff;cursor:pointer;vertical-align:middle;}
.more_ssp span.cpb:hover,.more_ssp a:hover,.more_ssp span.cpb.in,.more_ssp a.in{width: auto;color: #fff;background: #e93e0c;border:1px solid #e93e0c;height:38px;line-height:38px;padding:0 15px;}
.more_ssp span.current{background: #e93e0c;color: #fff;border:1px solid #e93e0c;}
